@import "colors";

.full-page {
  background-color: $grey0;
}

.top-bar {
  background-color: $grey5;
  h1 {
    font-size: 1.6em;
    margin: 0 0 0 0;
    text-align: center;
    font-family: 'Odibee Sans', 'Helvetica', 'Arial', sans-serif;
  }
  .top-bar-links {
    text-align: center;
  }
  a {
    color: $yellow1;
  }
  ul {
    background-color: transparent;
  }
}

.top-bar-nav {
  font-size: 1em;
  margin: 0 0 0 0;
  li {
    list-style: none;
  }
}

nav {
  margin-bottom: 2vh;
}

form.new_user > div > label {
  color: white;
}
form.new_user > div.actions {
  margin-bottom: 5vh;
}
form > input[type="submit"] {
  background-color: $pink2;
}
form > input[type="submit"]:hover {
  background-color: $pink1;
}

ul.login-section {
  background-color: transparent;
  list-style: none;
  margin: 0 0 0 0;
  text-align: center;
  li {
    display: inline;
    margin: 0 2vw 0 0;
  }
}

.center-column {
  margin-top: 2vh;
  padding: 1vh 1vw;
  background-color: $blue5;
  border-radius: .25rem;
  h1 {
    text-align: center;
    color: white;
    font-family: 'Odibee Sans', 'Helvetica', 'Arial', sans-serif;
  }
  h2 {
    font-size: 1.3em;
    color: white;
    margin: 0 3vw;
  }
  ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
  form {
    margin: 0 3vw;
  }
}

.submission-list {
  max-width: 31rem;
}

.category-listing {
  margin: 0 3vw;
  border-bottom: 2px solid $blue5;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(52,42,44,1) 100%);
  .submission-delete {
    i {
      color: white;
    }
  }
  .player-wrapper {
    width: 80px;
    overflow: auto;
  }
  .submission-delete-wrapper {
    text-align: center;
  }
  .submission-delete {
    background-color: $red2;
    border-radius: .25rem;
    height: 6vw;
    max-height: 35px;
    width: 6vw;
    max-width: 35px;
  }
  .submission-delete:hover {
    background-color: $red3;
    cursor: pointer;
  }
  .submission-player {
    color: white;
    padding-left: 0;
    line-height: .8;
    .submission-name {
      font-weight: 500;
      color: $yellow2;
    }
    .submission-details {
      font-size: .75em;
    }
  }
  .submission-info {
    color: white;
    padding-left: 0;
    .submission-name {
      font-weight: 500;
      color: $yellow2;
    }
    .submission-details {
      font-size: .75em;
    }
  }
  .submission-vote {
    text-align: center;
    color: $blue3;
    .fa {
      margin: 0 .5vw;
    }
  }
  .submission-description, .author-name {
    font-style: italic;
    color: white;
  }
  .fa-quote-left {
    font-size: .8em;
    margin-top: 1vh;
    opacity: .5;
  }
  .fa-quote-right {
    font-size: .8em;
    margin-left: .5vw;
    opacity: .5;
  }
  .author-name {
    font-size: .75em;
    padding: 0 .5rem 7px .75rem;
  }
  .submission-user-content {
    padding-right: 0;
    padding-top: 1vh;
    background-color: $blue5;
    .submission-description {
      border-radius: 2.4375rem;
      padding: 7px 0;
    }
    .submission-form-area {
      padding-left: 0;
    }
    .submission-edit {
      text-align: center;
    }
    .submission-edit-form {
      input, button {
        border: 0px;
      }
      input[type=text] {
        font-style: italic;
        border-top-left-radius: .2rem;
        border-bottom-left-radius: .2rem;
        padding-left: 1rem;
        margin-bottom: 0;
      }
    }
    button.edit-btn {
      outline: none;
      margin: 8px 0;
      cursor: pointer;
    }
    .edit-btn {
      height: 1.5rem;
      width: 1.5rem;
    }
    .edit-active {
      color: white;
      background-color: $blue1;
      border-radius: 2.4375rem;
    }
    .edit-active:hover {
      background-color: $blue2;
    }
    .edit-inactive {
      color: white;
    }
    .edit-inactive:hover {
      color: $blue1;
      background-color: white;
      border-radius: 2.4375rem;
    }
    .check-btn {
      color: white;
      background-color: $yellow2;
      font-size: 1.2em;
      text-align: center;
      border-top-right-radius: .2rem;
      border-bottom-right-radius: .2rem;
    }
    .check-btn:hover {
      cursor: pointer;
      color: white;
      background-color: $yellow3;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }
  .delete-area {
    text-align: center;
    .delete-btn {
      color: white;
      background-color: $red2;
      font-size: .8em;
      padding: .4vh 2vw;
      border-radius: .2rem;
      line-height: 1;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .delete-btn:hover {
      color: $red2;
      background-color: white;
      cursor: pointer;
    }
  }
  .header-col {
    color: white;
    font-weight: bold;
  }
  .name-col, .submission-col, .date-col, .text-col {
    color: white;
    a {
      color: white;
    }
  }
  .submission-col, .member-col {
    text-align: center;
  }
  .category-empty {
    color: white;
    opacity: .5;
    text-align: center;
    font-style: italic;
    padding: 5vh 0
  }
}

.search > div {
  label {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    align-self: center;
    color: white;
    height: 2.4375rem;
    line-height: 2.4375rem;
    background-color: $blue6;
  }
  input {
    padding: 2vh 2vw;
    margin-bottom: 0;
    border-right: 0;
    background-color: white;
  }
  input[type="submit"] {
    background-color: $pink2;
  }
  input[type="submit"]:hover {
    background-color: $pink1;
  }
  .clear-search {
    border: 0;
    background-color: $grey2;
    color: white;
  }
  .clear-search:hover {
    cursor: pointer;
    background-color: $grey3;
  }
}

.search-result {
  border: 1px solid $blue5;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: .5rem;
  background-color: $blue1;
  margin: 1vh 0;
  min-height: 13vh;
  .album-cover {
    align-self: center;
    text-align: center;
    img {
      border-radius: 2rem;
    }
  }
  .track-info {
    list-style: none;
    padding: 0;
    margin: 1vh 0;
    align-self: center;
    h3 {
      font-size: 1.2em;
      font-weight: bold;
    }
    .album-title {
      font-size: .75em;
    }
    .artist-name {
      font-size: .75em;
    }
  }
  .result-actions {
    form {
      margin: 0;
      input {
        width: 100%;
      }
    }
  }
}

.user-item {
  background: none;
  background-color: $blue6;
}

@media only screen and (min-width: 640px) {
  .center-column {
    width: 75vw;
    margin: 0 auto;
  }
  .search > div > input {
    padding: 0 2vw;
    margin-bottom: 0;
  }
  .category-listing {
    .player-wrapper {
      width: 300px;
    }
  }
}

.errors, .flash {
  background-color: $red2;
  margin: 1vh 3vw;
  border-radius: .35rem;
  text-align: center;
  color: white;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.flash-notice {
  background-color: $blue2;
}

.errors, .flash-alert {
  background-color: $red2;
}

.vote-total {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.upvote, .downvote {
  color: $grey3;
  font-size: 1.2em;
}

.upvote:focus, .downvote:focus {
  outline: 0;
}

.upvote:mousedown, .downvote:mousedown {
  color: white;
}

.upvote:hover {
  color: $yellow3;
  cursor: pointer;
}

.downvote:hover {
  color: $red3;
  cursor: pointer;
}

.upvote.active {
  color: $yellow3;
}

.upvote.active:hover {
  color: $yellow1;
}

.downvote.active {
  color: $red3;
}

.downvote.active:hover {
  color: $red1;
}
